Source: node-util
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Daniel Pocock <daniel@pocock.pro>
Build-Depends: debhelper (>= 9.0.0), node-uglify, node-inherits
Standards-Version: 3.9.5
Homepage: https://github.com/defunctzombie/node-util
Vcs-Browser: https://github.com/dpocock/node-util
Vcs-Git: https://github.com/dpocock/node-util

Package: libjs-util
Architecture: all
Depends: ${misc:Depends}, node-inherits
Recommends: javascript-common
Description: NodeJS/JavaScript util module
 Provides various utilities for regular expressions, deprecating
 functions, inspecting variables and other useful things.

Package: node-util
Architecture: all
Depends: ${misc:Depends}, nodejs (>= 0.6.19~dfsg1-3), libjs-util
Description: NodeJS/JavaScript util module
 Provides various utilities for regular expressions, deprecating
 functions, inspecting variables and other useful things.
